In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('../../data/processed/realestates_kh_v6.csv', encoding='latin1')

In [20]:
print(df)

            id      price  bedrooms  bathrooms  land_area address_subdivision  \
0     185714.0  1100000.0       7.0        7.0      124.0          Phnom Penh
1     185539.0   680000.0       4.0        5.0       80.0          Phnom Penh
2     217752.0   550000.0       3.0        4.0       66.0          Phnom Penh
3     228897.0   750000.0       9.0       10.0      116.0          Phnom Penh
4     190024.0   420000.0       5.0        6.0       65.0          Phnom Penh
...        ...        ...       ...        ...        ...                 ...
3388  245046.0   270000.0       NaN        NaN   270000.0          Phnom Penh
3389  219672.0    63000.0       NaN        1.0    63000.0          Phnom Penh
3390  242728.0   550000.0       6.0        6.0   550000.0          Phnom Penh
3391  205451.0   165000.0       1.0        1.0   165000.0          Phnom Penh
3392   58934.0        NaN       NaN        NaN    30000.0          Phnom Penh

     address_locality  address_line_2     category_name  is_parent  ...  \
0           Daun Penh     Chakto Mukh         Shophouse      False  ...
1          Chamkarmon           BKK 3             House      False  ...
2           Daun Penh   Chey Chumneah           Retreat      False  ...
3          Chamkarmon    Tonle Bassac             Villa      False  ...
4      Chroy Changvar  Chroy Changvar             House      False  ...
...               ...             ...               ...        ...  ...
3388     Por Sen Chey         Kamboul  Land/Development      False  ...
3389   Chroy Changvar  Chroy Changvar             Condo      False  ...
3390        Daun Penh     Boeng Reang           Retreat      False  ...
3391       Chamkarmon    Tonle Bassac             Condo      False  ...
3392   Chroy Changvar  Chroy Changvar           project       True  ...

     f_road  f_secondary  f_service  f_steps f_tertiary f_track f_trunk  \
0         0            0          1        0          1       0       0
1         0            0          1        0          0       0       0
2         0            0          1        0          1       0       0
3         0            1          1        0          1       0       0
4         0            0          1        0          1       0       0
...     ...          ...        ...      ...        ...     ...     ...
3388      0            0          0        0          0       0       0
3389      0            0          1        0          1       0       0
3390      0            0          1        0          1       0       0
3391      0            0          1        0          0       0       0
3392      0            0          1        0          1       0       0

      f_trunk_link  f_unclassified f_unused
0                0               0        0
1                0               0        0
2                0               0        0
3                0               0        0
4                0               0        0
...            ...             ...      ...
3388             0               0        0
3389             0               0        0
3390             0               0        0
3391             0               0        0
3392             0               0        0

[3393 rows x 115 columns]

In [21]:
import re
import numpy as np

def extract_floor_area(text):
    if not isinstance(text, str):
        return np.nan
    match = re.search(r'(\d{1,5})\s*(?:m2|sqm|mÂ²|sqm)', text.lower())
    return float(match.group(1)) if match else np.nan

def extract_total_floors(text):
    if not isinstance(text, str):
        return np.nan
    # Match "Total Floor: 3", "Total floors: 3", "Floors ( s ) : 3", "stories: 04 stories house", "14 Floors"
    patterns = [
        r'total\s*floors?\s*[:\-]?\s*(\d{1,2})',
        r'floors?\s*\(.*\)\s*[:\-]?\s*(\d{1,2})',
        r'(\d{1,2})\s*[-]?\s*storey',
        r'(\d{1,2})\s*[-]?\s*stories',
        r'(\d{1,2})\s*[-]?\s*floors?',
        r'building stories\s*[:\-]?\s*(\d{1,2})',
        r'total\s*(\d{1,2})\s*floors?',
        r'stories\s*[:\-]?\s*(\d{1,2})',
        r'(\d{1,2})\s*floor'
    ]
    for pat in patterns:
        match = re.search(pat, text.lower())
        if match:
            return float(match.group(1))
    return np.nan

def extract_floor_number(text):
    if not isinstance(text, str):
        return np.nan
    # Match "Floor: 21F", "Floor 3", "on the 3rd floor", "first floor", "second floor", "E0", "E1", "E2"
    patterns = [
        r'floor\s*[:\-]?\s*(\d{1,2})',
        r'(\d{1,2})[a-z]{0,2}\s*floor',
        r'floor\s*(\d{1,2})[a-z]{0,2}',
        r'(\d{1,2})[a-z]{0,2}\s*floors?',
        r'(\d{1,2})\s*[-]?\s*storey',
        r'(\d{1,2})\s*[-]?\s*stories',
        r'floor\s*[:\-]?\s*([a-z]\d{0,2})',  # E0, E1, etc.
    ]
    for pat in patterns:
        match = re.search(pat, text.lower())
        if match:
            try:
                return float(re.sub(r'[^\d]', '', match.group(1)))
            except:
                continue
    # Handle "first floor", "second floor", etc.
    word2num = {'first': 1, 'second': 2, 'third': 3, 'fourth': 4, 'fifth': 5}
    for word, num in word2num.items():
        if word + ' floor' in text.lower():
            return float(num)
    return np.nan

def extract_unit_number(text):
    if not isinstance(text, str):
        return np.nan
    match = re.search(r'unit(?:\s*number)?\s*[:\-]?\s*(\d{1,5})', text.lower())
    return float(match.group(1)) if match else np.nan

df['floor_area'] = df['information'].apply(extract_floor_area)
df['floor_number'] = df['information'].apply(extract_floor_number)
df['total_floors'] = df['information'].apply(extract_total_floors)
df['unit_number'] = df['information'].apply(extract_unit_number)

In [22]:
df.isnull().sum()

id                 0
price              1
bedrooms         561
bathrooms        580
land_area          0
                ...
f_unused           0
floor_area      2360
floor_number    2350
total_floors    2576
unit_number     3369
Length: 119, dtype: int64

In [23]:
# Count nulls for selected columns, grouped by category_name
cols = ['floor_area', 'floor_number', 'total_floors', 'unit_number']
null_summary = df.groupby('category_name')[cols].apply(lambda x: x.isnull().sum())

# Add a column for the total count of each category
category_counts = df['category_name'].value_counts().rename('total_count')
null_summary = null_summary.merge(category_counts, left_index=True, right_index=True)

null_summary

,floor_area,floor_number,total_floors,unit_number,total_count
category_name,,,,,
Apartment,48,76,136,157,160
Business,11,6,9,12,12
CommercialShophouse,4,4,3,4,4
Condo,202,290,607,649,669
Factory,2,2,2,3,3
Flat,214,200,158,235,235
Food/Hospitality,4,3,3,4,4
Hotel,2,2,1,3,3
House,366,313,344,398,398
Land,29,53,53,53,53
Land/Development,167,320,319,324,324
Offices,4,7,11,20,20
Penthouse,1,1,7,7,7
Retail,0,1,3,3,3
Retreat,116,99,71,135,135
ServicedApartment,1,1,2,2,2
Shophouse,308,218,178,337,337
Studio,4,4,32,33,33
Terrace,17,17,13,17,17
Twin Villa,199,151,114,201,201
Unit,101,67,32,105,105
Villa,503,441,415,566,566
Warehouse,22,45,46,46,46
condo,2,1,1,5,5
other,26,24,11,40,41
project,6,4,4,9,9
residential,1,0,1,1,1

In [24]:
# Sort by price_per_m2 (descending)
df = df.sort_values(by='price_per_m2', ascending=False)

# Select the top 50 rows and display with more columns
styled = df.head(50)[[ 
    'information', 'category_name', 'floor_area', 'floor_number', 
    'total_floors', 'unit_number'
]].style.set_table_styles({
    'category_name': [{'selector': 'td', 'props': [('min-width', '20px')]}],
    'floor_area': [{'selector': 'td', 'props': [('min-width', '20px')]}],
    'floor_number': [{'selector': 'td', 'props': [('min-width', '20px')]}],
    'total_floors': [{'selector': 'td', 'props': [('min-width', '20px')]}],
    'unit_number': [{'selector': 'td', 'props': [('min-width', '20px')]}],
    'information': [{'selector': 'td', 'props': [('min-width', '300px'), ('max-width', '500px'), ('white-space', 'pre-wrap')]}]
})
styled