In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/processed/realestates_kh_v2_3_7.csv', encoding='latin1')

In [3]:
df.head()

,id,price_display,bedrooms,bathrooms,land_area,address_subdivision,address_locality,address_line_2,category_name,is_parent,type,latitude,longitude
0,235560.0,114000.0,4.0,5.0,71.4,Phnom Penh,Chroy Changvar,Preaek Lieb,Unit,False,residential,11.589674,104.925654
1,248374.0,188343000.0,NaN,NaN,104635.0,Phnom Penh,Russey Keo,Tuol Sangkae 1,Land/Development,False,residential,11.587810,104.902234
2,248290.0,58800000.0,NaN,NaN,84000.0,Phnom Penh,Por Sen Chey,Kantaok,Land/Development,False,residential,11.537783,104.920232
3,248489.0,90000.0,1.0,1.0,76000.0,Phnom Penh,Meanchey,Chak Angrae Leu,Condo,False,residential,11.537783,104.920232
4,235239.0,276264450.0,NaN,NaN,55811.0,Phnom Penh,Daun Penh,Srah Chak,Land/Development,False,residential,11.579202,104.908613

In [4]:
df.isnull().sum()

id                       0
price_display            1
bedrooms               668
bathrooms              691
land_area                0
address_subdivision      0
address_locality         0
address_line_2           4
category_name            0
is_parent                0
type                     0
latitude                 0
longitude                0
dtype: int64

In [5]:
df.shape

(3755, 13)

In [6]:
# df.to_csv('../../data/processed/realestates_kh_v2_3_7.csv', index=False, encoding='latin1')