In [1]:
import pandas as pd

In [11]:
df_realestate = pd.read_csv("../../data/raw/realestates_kh_v2.csv")

In [14]:
df = pd.read_csv("../../data/raw/ambodia_hex_data_combined.csv")

In [12]:
df_realestate.shape

(6190, 21)

In [13]:
df_realestate.isnull().sum()

id                        0
headline                  0
price_display            13
rent_display           5516
bedrooms               2219
bathrooms              2262
land_area              3098
thumbnail_url             0
thumbnail_urls            0
garages                4844
location                  0
address_subdivision       0
address_locality          0
address_line_2           10
address_line_1          204
category_name             0
is_parent                 0
type                      0
information             196
lat                       0
lng                       0
dtype: int64

In [15]:
df.isnull().sum()

id            0
left          0
top           0
right         0
bottom        0
row_index     0
col_index     0
cambodia_h    0
cambodia_1    0
cambodia_2    6
cambodia_3    6
cambodia_4    0
Lon           0
lat           0
dtype: int64

In [16]:
df.shape

(2258, 14)

In [17]:
df.head()

,id,left,top,right,bottom,row_index,col_index,cambodia_h,cambodia_1,cambodia_2,cambodia_3,cambodia_4,Lon,lat
0,13,208177.099289,1.505652e+06,219724.104673,1.495652e+06,12,0,22558.310780,945762.0,25561.135135,11.0,345748.352712,102.371291,13.545851
1,14,208177.099289,1.495652e+06,219724.104673,1.485652e+06,13,0,76494.236911,960193.0,24004.825000,11.0,339378.300796,102.379103,13.469669
2,15,208177.099289,1.485652e+06,219724.104673,1.475652e+06,14,0,29370.969931,498893.0,10181.489796,11.0,333458.821529,102.376830,13.376990
3,16,208177.099289,1.475652e+06,219724.104673,1.465652e+06,15,0,7540.218487,366498.0,8144.400000,11.0,327076.535582,102.378995,13.291558
4,17,208177.099289,1.465652e+06,219724.104673,1.455652e+06,16,0,56001.014120,627248.0,48249.846154,21.0,320752.052104,102.393667,13.212654