In [4]:
import pandas as pd

In [5]:
# Load real estate data
df_realestate = pd.read_csv('../../data/processed/realestates_kh_v2_3_7.csv', encoding='latin1')

In [6]:

# Load population data (already saved to CSV)
df_population = pd.read_csv('../../data/raw/population_phnom_penh.csv')

In [7]:
print("df_realestate",df_realestate.head())

df_realestate          id  price_display  bedrooms  bathrooms  land_area  \
0  235560.0       114000.0       4.0        5.0       71.4
1  248374.0    188343000.0       NaN        NaN   104635.0
2  248290.0     58800000.0       NaN        NaN    84000.0
3  248489.0        90000.0       1.0        1.0    76000.0
4  235239.0    276264450.0       NaN        NaN    55811.0

  address_subdivision address_locality   address_line_2     category_name  \
0          Phnom Penh   Chroy Changvar      Preaek Lieb              Unit
1          Phnom Penh       Russey Keo   Tuol Sangkae 1  Land/Development
2          Phnom Penh     Por Sen Chey          Kantaok  Land/Development
3          Phnom Penh         Meanchey  Chak Angrae Leu             Condo
4          Phnom Penh        Daun Penh        Srah Chak  Land/Development

   is_parent         type   latitude   longitude
0      False  residential  11.589674  104.925654
1      False  residential  11.587810  104.902234
2      False  residential  11.537783  104.920232
3      False  residential  11.537783  104.920232
4      False  residential  11.579202  104.908613

In [8]:
print("df_population",df_population.head())

df_population                 h3  population  \
0  886586a6ebfffff       255.0
1  886586a6ddfffff      1337.0
2  886586a6dbfffff       125.0
3  886586a6d9fffff       764.0
4  886586a6d7fffff       323.0

                                            geometry  index_right  Shape_Leng  \
0  MULTIPOLYGON (((104.97555292017218 11.70869197...          466    0.209855
1  MULTIPOLYGON (((104.95959051419976 11.68686180...          466    0.209855
2  MULTIPOLYGON (((104.94522418806201 11.68053577...          466    0.209855
3  MULTIPOLYGON (((104.95426989678246 11.67958437...          466    0.209855
4  MULTIPOLYGON (((104.94681957690541 11.69604271...          466    0.209855

   Shape_Area    ADM3_EN ADM3_PCODE ADM3_REF  ADM3ALT1EN  ADM3ALT2EN  \
0    0.001835  Kaoh Dach   KH121004      NaN         NaN         NaN
1    0.001835  Kaoh Dach   KH121004      NaN         NaN         NaN
2    0.001835  Kaoh Dach   KH121004      NaN         NaN         NaN
3    0.001835  Kaoh Dach   KH121004      NaN         NaN         NaN
4    0.001835  Kaoh Dach   KH121004      NaN         NaN         NaN

           ADM2_EN ADM2_PCODE     ADM1_EN ADM1_PCODE   ADM0_EN ADM0_PCODE  \
0  Chraoy Chongvar     KH1210  Phnom Penh       KH12  Cambodia         KH
1  Chraoy Chongvar     KH1210  Phnom Penh       KH12  Cambodia         KH
2  Chraoy Chongvar     KH1210  Phnom Penh       KH12  Cambodia         KH
3  Chraoy Chongvar     KH1210  Phnom Penh       KH12  Cambodia         KH
4  Chraoy Chongvar     KH1210  Phnom Penh       KH12  Cambodia         KH

         date     validOn
0  2014-10-14  2018-10-04
1  2014-10-14  2018-10-04
2  2014-10-14  2018-10-04
3  2014-10-14  2018-10-04
4  2014-10-14  2018-10-04